<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mysql.dao.BookDAO">
    <resultMap type="com.mysql.model.BookDO" id="bookDO">
        <id property="bookIndex" javaType="java.lang.String" column="book_index" />
        <id property="bookCoding" javaType="java.lang.String" column="book_coding"/>
        <id property="authorId" javaType="java.lang.Long" column="author_id"/>
        <id property="authorName" javaType="java.lang.String" column="author_name"/>
        <id property="gmtCreate" javaType="java.util.Date" column="gmt_create"/>
        <id property="gmtUpdate" javaType="java.util.Date" column="gmt_update"/>
    </resultMap>

    <select id="findBooks" resultType="com.mysql.model.BookDO" parameterType="com.mysql.query.QueryBook">

        SELECT id,book_coding,name,book_index,author_name,author_id,tag,gmt_create,gmt_update
         FROM book WHERE TRUE
         <if test="id != null">
             AND id = #{id}
         </if>
        <if test="bookCoding != null">
            AND book_coding = #{bookCoding}
        </if>
        <if test="authorId != null">
            AND  author_id = #{authorId}
        </if>
        <if test="author !=null">
            author = #{author}
        </if>
        <if test="ids !=null">
            AND  id IN
            <foreach item="ids"  collection="ids"
                     open="(" separator="," close=")">
                #{ids}
            </foreach>
        </if>
        <if test="bookCodings != null">
            AND  book_coding IN
            <foreach item="bookCodings"  collection="list"
                     open="(" separator="," close=")">
                #{bookCodings}
            </foreach>
        </if>
    </select>

    <insert id="insertBookDO" parameterType="com.mysql.model.BookDO">
        INSERT INTO book (book_coding, name, book_index, author_id, tag, gmt_create, gmt_update)
         VALUE (#{bookCoding},#{name},#{bookIndex},#{authorId},#{tag},now(),now());
    </insert>

    <insert id="insertBookDOS" parameterType="com.mysql.model.BookDO">
        INSERT INTO book(book_coding, name, book_index, author_id, tag, gmt_create, gmt_update)
        VALUES
        <foreach collection="list" item="bookDOS" separator=",">
            (#{bookDOS.bookCoding},#{bookDOS.name},#{bookDOS.bookIndex},
            #{bookDOS.authorId},#{bookDOS.tag},now(),now());
        </foreach>
    </insert>

    <delete id="deleteByIds" parameterType="java.util.List">
        DELETE FROM book WHERE id IN
        <foreach collection="list" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>
</mapper>