<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mysql.dao.BookDao">
    <resultMap type="BookDO" id="bookDO">
        <id property="bookIndex" javaType="int" column="book_index" />
    </resultMap>

    <select id="findById" resultType="com.mysql.model.BookDO" parameterType="java.lang.Long">
        SELECT * from tb_book WHERE id = #{id}
    </select>

</mapper>