<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mysql.dao.ReaderDAO">
    <resultMap type="com.mysql.model.ReaderDO" id="readerDO">
        <id property="nickName" javaType="java.lang.String" column="nick_name"/>
        <id property="gmtCreate" javaType="java.util.Date" column="gmt_create"/>
        <id property="gmtUpdate" javaType="java.util.Date" column="gmt_update"/>
    </resultMap>

    <select id="findReaders" resultType="com.mysql.model.ReaderDO" parameterType="com.mysql.query.QueryReader">
        SELECT id,account,password,name,nick_name,role,gmt_create,gmt_update
        FROM reader WHERE TRUE
        <if test="ids != null">
            AND id IN
            <foreach collection="list" item="id" separator="," open="(" close=")">
                #{ids}
            </foreach>
        </if>

        <if test="account !=null and password != null">
            AND account = #{account}
            AND password = #{password}
        </if>
    </select>
</mapper>